.input-value{
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}