.question-answer-container{
    font-weight: 600;
    background-color: #60A5FA;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: start;
}
.question{
    font-size: 1.3rem;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}
.option{
    margin-left: 10px;
    margin-right: 10px;
}
.no-option{
    margin-left: 10px;
    margin-right: 10px;
}